__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
.venv/
venv/
env/

build/
dist/

.DS_Store
.idea/
.vscode/

# pokemon_stock
config.yaml
.pokemon_stock_state.json
